/* .Dashboard-container{
  display: flex;
  */
  
/* } */

.Container{
  display: flex;
  gap: 1px;
  overflow-x: hidden; /* Hide horizontal scroll bar */
  overflow-y: hidden; /* Hide vertical scroll bar */
  overflow: hidden;
  

}

body{
  overflow-x: hidden; /* Hide horizontal scroll bar */
  overflow-y: hidden; /* Hide vertical scroll bar */
  overflow: hidden;
}
.Dashboard-container{
  margin-top: 80px;
  width: 10px;
  display: inline-block;
  vertical-align: top; 
 
}

.header-wrapper h4{
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
}
.header-wrapper p{
  text-align: right;
  margin-top: 20px;
  size: 12px;
  margin-right: 80px;
}

.dashboard-wrapper{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top:55px;
  padding: 20px;
  font-size: 20px;
  line-height: 20px;
 margin-left: 30px;

  overflow-y: auto;
  justify-content: space-between;
  flex-direction: column;
  background-color: aquamarine;
}


.dashboard-Reminder{
  display: inline-block;
  width: 33.33%; /* Adjust the width as needed */
  vertical-align: top;
  margin-left: 20px;

}

 .dashboard-Reminder{
  position: fixed;
      right: 0;
      z-index: 9999; 
  width: 230px;
  margin-top: 12px;
  height: 500px;
  padding: 2px;
  color: black;
  margin-right: 70px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
  overflow: scroll;
  
} 

/* @media (max-width: 796px) {
    .dashboard-Reminder{
        
      width: 150px;
      height: 340px;
     
    }
  }  */

 .dashboard-Reminder h6 {
    position: sticky;
    text-align: center;
    top: 11px; 

  }


.dashboard-Reminder {
  padding-right: 0px; 
  padding-top: 10px;
  margin-top: 30px; 
}

.dashboard-Reminder::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide scrollbar thumb for Chrome, Safari, and Opera */
}

.dashboard-Reminder::-webkit-scrollbar-track {
  background-color: transparent; /* Hide scrollbar track for Chrome, Safari, and Opera */
}
.dashboard-Reminder::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width for Chrome, Safari, and Opera */
}






.Activity{
  background-color: white;
  display: inline-block;
  width: 100px;
  margin-top: 10px;
  height: 200px;
  position: sticky;
  display: flex;
  
  
}

.Dash-summarry{
  background-color: aqua;
  display: inline-block;
  width: 50%;
  height: 100%;
}

.Dash-speed{
  background-color: rgb(141, 141, 249);
  display: inline-block;
  width: 50%;
  height: 100%;
}


.fullscreen{
  font-size: 30px;
  color: rgba(128, 128, 128, 0.808);

}