.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 0 1rem;
  transition: 0.5s;
}




/* @media (max-width: 796px) {
  .header {
        
      width: 200px;
     
    }
  } */


.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--first-color);
}


.header-wrapper{
    display: grid;
    flex-wrap: wrap;
   margin-left: -15px;
   width: 100%;
    top: 0;
    
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(36, 36, 36, 0.24) 0px 3px 4px;
   
}



.header-container{
    display: inline-block;
    height: 80px;
    
    width: 1250px;
}



@media (max-width: 796px) {
  .header-container{
    height: 50px;
      width: 150px;
     
    }
  } 



.header-container h3{
    padding-top: 20px;
    padding-left: 10px;
}

.userName{
    padding-bottom: 10px;
   margin-right: 30px;
   margin-top: 25px;
    font-size: 18px;
    position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
   /* position: absolute; */
    text-align: right;
   
    /* margin-left: auto;
     */
}

/* @media (max-width: 796px) {
  .userName{
    display: none;
     
    }
  }  */