

.LoginBtn a {
  text-decoration: none;
  color: white;
  
}


.a{
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding-top:35px;
    padding-bottom: 20px;
    padding-left:50px;
    padding-right: 50px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
    
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

.iIcon{
  font-size: 30px;
  padding-right: 8px;
} 
@media (max-width: 796px) {
  .iIcon{
      display: none;
  }
}

.PassworD, .EmaiL{
  
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #ffffff;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
  :focus{
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
  }

}

.LoginBtn{
  width: 70%;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  :hover {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
  }

}


.googleArea{
  margin-left: 100px;
  margin-right: 100px;
  width: 200px;
}


.logo{
  padding-top: 1%;
  width: 120px;
  height: auto;
  position:absolute;
  margin-right: 28%;
  right: 0;
      z-index: 2;
}


@media (max-width:796px)  {
  .logo{
    /* padding-top: 1%; */
    /* margin-bottom: 50px; */
    width: 100px;
    height: auto;
    position:absolute;
    margin-right: 20%;
    right: 0;
        z-index: 2;
  }
}


.Loginheader{
  background-image: url(src/imagesMotorpool-bus.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.Loginheader::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 200vh;
  background-color: #161d3fb0;
  top: -70%;
  left: -50%;
  transform: rotate(25deg);
}
.Logincontainer{
  width: 80%;
  margin: auto;
  height: 100%;
  position: relative;
  z-index: 2;
}
.Logincontainer nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.Logincontainer nav .logos{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight:bold;
  text-transform: uppercase;
}
.Logincontainer nav ul li{
  display: inline-block;
  margin-right: 25px;
}
.Logincontainer nav ul li a{
 text-decoration: none;
 color: #ffffff;
 font-weight: 600;
 text-transform: capitalize;
 transition: 0.4s;
 font-size: 20px;
}
.Logincontainer nav ul li:hover a,
.Logincontainer nav ul li.active a{
  color: #fff;
}
.Logincontainer nav .btn{
  padding: 10px 20px;
  background-color: #3a79f9;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}
.Logincontainer nav .btn:hover{
  background-color: #fff;
  color: #3a79f9;
}
.content{
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
}
.content h1{
  color: #fff;
  font-size: 55px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.content p{
  color: #bdbdbd;
  line-height: 2;
  margin-bottom: 30px;
}
.content .btn{
  padding: 15px 30px;
  background-color: #3a79f9;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  font-size: 20px;
  transition: 0.3s;
}
.Logincontainer .btn:hover{
  background-color: #fff;
  color: #3a79f9;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

