

.LoginBtn a {
  text-decoration: none;
  color: white;
  
}


.a{
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 930px;
}

/*------------ Right box ------------*/

.right-box{
    padding-top:35px;
    padding-bottom: 20px;
    padding-left:50px;
    padding-right: 50px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
    
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

.iIcon {
  position: absolute; /* Position the icon absolute to the input field container */
  left: 10px; /* Adjust the left position of the icon */
  top: 50%; /* Align the icon vertically in the middle */
  transform: translateY(-50%); /* Adjust to vertically center the icon */
  pointer-events: none; /* Make the icon non-interactive */
  z-index: 1; /* Ensure the icon appears above the input field */
  width: 20px; /* Adjust icon width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Adjust input field padding to make space for the icon */
.input-group > input {
  padding-left: 40px; /* Adjust as needed to accommodate the icon */
}

@media (max-width: 796px) {
  .iIcon{
      display: none;
  }
}

.PassworD, .EmaiL {
  width: 420px;
  height: 45px;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  appearance: none;
  border-radius: 8px; /* Apply border-radius to both focused and unfocused states */
  transition: border-color .15s ease-in-out;
  
}

.PassworD:focus, .EmaiL:focus {
  color: #212529;
  background-color: #fff;
  border-color: skyblue;
  outline: 0;
  border-radius: 8px; /* Ensure border-radius is consistent in the focused state */
}

.LoginBtn {
  width: 420px;
  height: 45px;
  padding: 6px 12px;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0a58ca;
  border: 1px solid #7BD3EA;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.LoginBtn:hover {
  background-color: rgb(230, 247, 253); /* Change background color on hover */
  color: #0a58ca; /* Change text color on hover */
}

.googleArea {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.googleLoginButton {
  display: block; /* Ensure the button takes up the full width */
  margin: 0 auto; /* Center the button horizontally */
  /* Additional button styles */
}


.logo{
  padding-top: 1%;
  width: 120px;
  height: auto;
  position:absolute;
  margin-right: 28%;
  right: 0;
      z-index: 2;
}


@media (max-width:796px)  {
  .logo{
    /* padding-top: 1%; */
    /* margin-bottom: 50px; */
    width: 100px;
    height: auto;
    position:absolute;
    margin-right: 20%;
    right: 0;
        z-index: 2;
  }
}


.Loginheader{
  background-image: url(src/imagesMotorpool-bus.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.Loginheader::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 200vh;
  background-color: #161d3fb0;
  top: -70%;
  left: -50%;
  transform: rotate(25deg);
}
.Logincontainer{
  width: 80%;
  margin: auto;
  height: 100%;
  position: relative;
  z-index: 2;
}
.Logincontainer nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.Logincontainer nav .logos{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight:bold;
  text-transform: uppercase;
}
.Logincontainer nav ul li{
  display: inline-block;
  margin-right: 25px;
}
.Logincontainer nav ul li a{
 text-decoration: none;
 color: #ffffff;
 font-weight: 600;
 text-transform: capitalize;
 transition: 0.4s;
 font-size: 20px;
}
.Logincontainer nav ul li:hover a,
.Logincontainer nav ul li.active a{
  color: #fff;
}
.Logincontainer nav .btn{
  padding: 10px 20px;
  background-color: #3a79f9;
  
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}
.Logincontainer nav .btn:hover{
  background-color: #fff;
  color: #3a79f9;
  
}
.content{
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
}
.content h1{
  color: #fff;
  font-size: 53px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.content p{
  color: #bdbdbd;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  margin-bottom: 30px;
}
.content .btn{
  padding: 15px 30px;
  background-color: #3a79f9;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
  font-size: 20px;
  transition: 0.3s;
}
.Logincontainer .btn:hover{
  background-color: #fff;
  color: #3a79f9;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.modal-header .close-btn {
  cursor: pointer;
  position: absolute; /* Aligns the close button to the right */
  top: 7%;
  right: 10%;
  margin-top: -1.5rem; /* Adjust as needed */
  margin-right: -1.5rem; /* Adjust as needed */
  font-size: 2rem;
  color: black; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.modal-header .close-btn:hover {
  color: skyblue; /* Color change when hovering */
}
.form-title {
  margin: -2rem 0rem 2rem;
}

.form-title h2 {
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0a58ca;
}

.form-title p {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  text-align: center; /* Center the text */
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}


.modal-header .close {
  color: #fff;
  background: linear-gradient(to right, #33a3ff, #0675cf, #4cd5ff);
  font-size: 25px;
  font-weight: 400;
  text-shadow: none;
  line-height: 27px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  left: auto;
  right: 8px;
  top: 8px;
  z-index: 1;
  transition: all 0.3s;
}
.modal-header .close:hover {
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.close:focus {
  outline: none;
 
}

