.Map-container{
    width: 66.66%; /* Adjust the width as needed */
    vertical-align: top;
color: black;
}

.speed-container{
    margin-left: -190px;
    
}

.your-first-container{
    overflow-y: scroll;
}

.your-second-container{
    overflow-y: scroll;
}