.Map-container{
    width: 60.66%; /* Adjust the width as needed */
    vertical-align: top;
    margin-right: 50px;
    margin-top: 30px;
    color: black;

}

.speed-container{
    margin-left: -2200px;
    
}

.your-first-container{
    overflow-y: scroll;
}

.your-second-container{
    overflow-y: scroll;
}