.Monitoring-container{
  display: flex;
 
  
}
.monitoring-wrapper{
  display: flex;
  flex-grow: 1;
  align-items: left;
  justify-content: left;  
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  min-width: 1100px;
  margin-top: 10px;
  margin-left: 10px ;
  align-items: stretch;
  height: 400px;
  /* background-color: #eab768;
  border-radius: 10px;
  border: 10px solid #f5cc8b; */
  
}

@media (max-width: 796px) {
  .monitoring-wrapper{
    
    min-width: 600px;
  }
}

.vehicleList{
  width: 45%;
  background-color: rgb(255, 255, 255);
  display: inline;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  margin-top: 60px;
  gap: 1px;
  height: 550px;

}

.vehicleListRight{
  padding: 10px;
  margin: 20px;
  margin-top: 90px;
  width: 57%;
  background-color: #f8f8f8ac;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  margin-left: 50px;
  margin-right: -650px;
  display: flex;
  display: block;
  height: 500px;
  gap: 1px;
  visibility: visible;
}


.button {
display: inline-block;
/* background-color: #444; */
font-size: 14px;
padding-left: 2px;
padding-right: 2px;
height: 40px;
line-height: 50px;
text-align: center;
color: rgb(0, 0, 0);
text-decoration: none;
cursor: pointer;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

.button:hover {
transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
/* background-color: white; */
color: black;
}

.search-container {
position: relative;
display: inline-block;
/* margin: 4px 2px; */
margin-left: 200px;
height: 40px;
width: 40px;
vertical-align: bottom;

}

.mglass {
display: inline-block;

pointer-events: none;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
}

.searchbutton {
position: absolute;
font-size: 22px;
width: 90%;
margin: 0;
padding: 0;
}

.search:focus + .searchbutton {
transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
/* background-color: white; */
color: black;
}

.search {
position: absolute;
left: 39px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
/* background-color: white; */
outline: none;
font-size: 14px;
border: none;
padding: 0;
width: 0;
height: 90%;
z-index: 10;
transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
/* box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
margin-top: 5px;
}

.search:focus {
width: 180px; /* Bar width+1px */
padding: 0 1px 0 0;
border-radius: 5px;
}

.expandright {
left: auto;
right: 49px; /* Button width-1px */
}

.expandright:focus {
padding: 0 0 0 10px;
}


.addVehicle{
display: block;
  width: 450px;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  :focus{
      border: 2px solid rgb(124, 138, 255);
}
}

.saveCar{
outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 80px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #2a51dd;
  height: 48px;
  :hover{
      background-color: #6379c5a7;
}
}


.closeM{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 100px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  margin-left: 30px;
  color: #fff;
  background-color: #8a8b90;
  height: 48px;
  :hover{
      background-color: rgba(121, 138, 196, 0.71);
  }
}

.pluscar{
font-size: 30px;
}

.noCars{
  color: #2a51dd;
  font-weight: bold;
  /* margin-left: 20px; */
}

.button-all{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  width: 100px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.button-all:hover{
  background-color: #3838f3ae;
  outline: 1px solid transparent;
  color: white;
}

.button-all:active{
  background-color: #4040f4ca;
  outline: 1px solid transparent;
  color:white;
}

.ListVehicle{
  font-family: arial, sans-serif;
border-collapse: collapse;
font-size: 15px;
margin: 20px;
max-height: 400px;
overflow-y: auto;
scrollbar-width: thin; /* For Firefox */
scrollbar-color: transparent transparent;
&::-webkit-scrollbar {
  width: 6px;
}

&::-webkit-scrollbar-thumb {
  background-color: transparent;
}

&::-webkit-scrollbar-track {
  background-color: transparent;
}
}

.ListVehicleTable{
  width: 400px;
  border-collapse: collapse;
}

.ListVehicle th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.ListVehicle td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  
}
.ListVehicle tr{
  border-bottom: 2px solid rgba(156, 155, 155, 0.389);
  
}
tbody.vList{
  overflow:scroll;
  margin-left: 10px;

  
}

.pictureArea{
  padding-left: 40px;
 display: flex;  
 line-height: 2px;
 background-color: white;
 height: 150px;
 border-radius: 10px;
 padding: 10px;
 width: 100%;
align-content: center;
align-items: center;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.Picture {
  flex: 1;
  padding: 10px;
margin-left: 20%;

}

.picText{
display: block;
margin-right: 20%;
grid: 1;
}

.detail{
font-size: 15px;
color: #8a8b90;
font-weight: bold;
}
.detailAnswer{
font-size: 15px;
}
.detailButton{
margin-top: 120px;
align-content: center;
width: 180px;
display: inline-block;
outline: none;
cursor: pointer;
font-weight: 500;
border-radius: 3px;
padding: 6px 12px;
border: 0;
color: #3a4149;
background: #e7ebee;
line-height: 1.15;
font-size: 16px;
:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

}

.column3{

box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}


.historyRight{
  padding: 10px;
  margin: 20px;
  margin-top: 90px;
  width: 55%;
  background-color: #f8f8f8ac;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  margin-left: 50px;
  display: flex;
  display: block;
  height: 500px;
  gap: 1px;
}

.historyTables{
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  

}


.btnDown{
  padding-right: 10px;
  white-space: 10px;
 float: right;
 
}