.Monitoring-container{
  display: flex;
  
}
.monitoring-wrapper {
  display: flex;
  align-items: center; /* Align items vertically in center */
  justify-content: space-between; /* Distribute items along the main axis */
  padding: 3px;
  font-size: 18px;
  line-height: 10px;
  min-width: 1100px;
  margin-top: 19%;
  margin-left:10px;
  /* margin-left: 10px; */
  width: 10px;

  height: 200px;
  /* Additional styling properties */
  /* background-color: #eab768;
  border-radius: 10px;
  border: 10px solid #f5cc8b; */
}
.search-container {
  margin-right: auto; /* Push the search container to the right */
}
/* .userName{
  text-align: right;
  margin-top: 25px;
  size: 8px;
  color: #5c5a5a;
  margin-right: 100px;
} */
.userName {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.userName span.userName-text {
  font-size: 15px; /* Adjust font size */
  color: #5c5a5a; /* Greyish color */
  margin-right: 5px; /* Add spacing between text and icon */
}
.icon-circle {
  color: #5c5a5a; /* Greyish color */
}

.vehicleList {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: inline;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);  
  margin-top: -500px; /* Adjust this value to move the table above */
  gap: 1px;
  max-height: 400px;
  overflow-y: auto;
  height: 550px;
  max-height: 400px; /* Adjust the maximum height of the table */
  overflow-y: auto; /* Add overflow for scrolling */
  margin-top: 20px; /* Remove this line to avoid overriding the previous margin-top */
}

.container {
  padding: 5rem 0rem;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-top: -100px;
  margin-right: 10px;
}

h4 {
  margin: 2rem 0rem 1rem;
  
}

.table-image td,
.table-image th {
  vertical-align: middle;
}

.vehicleListRight{
  padding: 10px;
  margin: 20px;
  margin-top: 90px;
  width: 57%;
  background-color: #f8f8f8ac;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  margin-left: 50px;
  margin-right: -650px;
  display: flex;
  display: block;
  height: 500px;
  gap: 1px;
  visibility: visible;
 
}
.monitoring-wrapper h4{
  text-align: left;
  margin-top: 30px;
  margin-left: 95px;
}
.monitoring-wrapper p{
  text-align: left;
  margin-top: 20px;
  margin-left: 95px;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.button {
display: inline-block;
/* background-color: #444; */
font-size: 14px;
padding-left: 2px;
padding-right: 2px;
height: 40px;
line-height: 50px;
text-align: center;
color: rgb(0, 0, 0);
text-decoration: none;
cursor: pointer;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}

.button:active {
  background-color: #ffffffca;
  outline: 0px solid transparent;
  color: rgb(255, 255, 255);
}

.button:hover {
transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
/* background-color: white; */
color: black;
}

.search-container {
position: relative;
display: inline-block;
/* margin: 4px 2px; */
margin-left: 73%;
height: 40px;
width: 40px;
vertical-align: bottom;

}

.mglass {
display: inline-block;
pointer-events: none;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
}

.searchbutton {
  position: absolute;
  font-size: 22px;
  width: 90%;
  margin: 0;
  padding: 0;
}

.search:focus + .searchbutton {
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  color: black;
}

.search {
  position: absolute;
  left: 120px; /* Button width - 1px */
  outline: none;
  /* font-size: 14px; */
  border: none;
  padding: 0;
  width: auto; /* Set initial width to auto */
  min-width: 50px; /* Set minimum width to prevent collapsing */
  height: 90%;
  z-index: 10;
  transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.search:focus {
  width: 230px; /* Set width when focused */
  padding: 0 1px 0 0;
  border-radius: 5px;
}

.expandright {
left: auto;
right: 49px; /* Button width-1px */
font-size: 14px;
}

.expandright:focus {
padding: 0 0 0 10px;
}


.addVehicle{
display: block;
  width: 420px;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 10px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  :focus{
      border: 2px solid rgb(124, 138, 255);
}
}


.saveCar, .closeM {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  border-radius: 20px; /* Adjust border-radius to make it look like a normal button */
  transition: background-color 0.3s; /* Simplify transition property */
  border: 1px solid transparent;
  letter-spacing: 1px; /* Adjust letter-spacing for better readability */
  min-width: 100px; /* Adjust min-width for button size */
  text-transform: uppercase;
  white-space: nowrap; /* Prevent line breaks in button text */
  font-weight: 500;
  text-align: center;
  padding: 12px 28px; /* Adjust padding for better button appearance */
  color: #fff;
}

.saveCar {
  background-color: #2a51dd;
}

.saveCar:hover {
  background-color: #6379c5a7;
}

.closeM { 
  margin-right: 10px; /* Adjust margin for spacing between buttons */
  background-color: #8a8b90;
}

.closeM:hover {
  background-color: rgba(121, 138, 196, 0.71);
}


.pluscar {
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.pluscar:hover {
  /* Define styles for hover effect */
  color: #3535f0; /* For example, changes text color to red on hover */
  /* Add more styles as needed */
}

.noCars{
  color: #2a51dd;
  /* bottom: 10px; */
  font-weight: bold;
  
}

.button-all {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  width: 100px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  margin-left: 95px;
  /* margin-bottom: -40px; */
  margin-top: 0px;
  margin-right: 5px;
}

.button-all:hover {
  background-color: #0055ff;
  outline: 1px solid transparent;
  color: white;
}

.button-all:active,
.button-all.active {
  background-color: #0055ff; /* Change background color when active */
  color: rgb(255, 255, 255); /* Change text color when active */
  outline: 1px solid transparent; /* Maintain outline transparency */
}

.button-available {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  width: 100px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  margin-left: 50px;
  margin-right: 5px;
}

.button-available:hover {
  background-color: #0a7900;
  outline: 1px solid transparent; 
  color: white;
}

.button-available:active,
.button-available.active {
  background-color: #0a7900; /* Change background color when active */
  color: rgb(248, 248, 248); /* Change text color when active */
  outline: 1px solid transparent; /* Maintain outline transparency */
}
.button-used {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 36px;
  width: 100px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  margin-left: 50px;
  margin-right: 5px;
}

.button-used:hover {
  background-color: #b90000;
  outline: 1px solid transparent;
  color: white;
}

.button-used:active,
.button-used.active {
  background-color: #b90000; /* Change background color when active */
  color: rgb(248, 248, 248); /* Change text color when active */
  outline: 1px solid transparent; /* Maintain outline transparency */
}



.ListVehicle {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 15px;
  justify-content: center;
  max-height: 330px; /* Set a fixed max-height */
  width: 900px;
  

}

.scrollable-container {
  max-height: 300px; /* Adjust height for better UI */
  overflow-y: auto;
  width: 970px;
  border-radius: 10px; 
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
 
}


.tableListHead thead th,
.scrollable-tbody td {
  width: 50%;
  height: inherit;
  padding-left: 10px;
  text-align: center; 
  font-size: 13px;
}


.ListVehicle {
  font-family: Arial, sans-serif;
  /* margin: 85px auto 0; */
  max-height: 350px;
  width: 1000px;
  margin-left:81px;
  margin-top: 40px;

}

.tableListHead th, .tableListHead td {
  text-align: center;
  vertical-align: middle;
  height: 40px;  
}

.tableListHead{
  width: 100%;
}
.brens{
  margin-bottom: 10px;
}

.tableListHead thead th {
  background-color: #38383bf9; 
  height: 40px;
  color: white;
  text-align: center;
font-size: 15px;
margin-bottom: 10px;
}

.bott{
  margin-bottom: 0px;
}




h4 {
  margin: 1rem 0rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
.ListVehicle td, th {
  border: 1px solid #e2e2e2;
  text-align: center; 
  padding: 8px;
 margin-top: -10px;
  
}



.ListVehicle tr{
  border-bottom: 2px solid rgba(156, 155, 155, 0.389);
  
}

tbody.vList{
  /* overflow:scroll; */
  margin-left: 10px;
}

.custom-modal-content {
  width: 80%;
}

.pictureArea{
  padding-left: 30px;
 display: flex;  
 line-height: 2px;
 background-color: white;
 height: 150px;
 border-radius: 10px;
 padding: 5px;
 width: 100%;
align-content: center;
align-items: center;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-bottom: 10px;
}

.Picture img {
  width: 180px;
  height: 100px;
  float: left;
  margin-left: 35px;
}

.picText {
  padding: 10px;
  font-size: 15px /* Add padding around the content */
}

.plate-number {
  color: #333; /* Set color for plate number */
  font-size: 15px; /* Set font size for plate number */
  margin-left: 12px;
  justify-content: center;
}

.vehicle-details {
  color: #333; /* Set color for vehicle details */
  font-size: 25px; /* Set font size for vehicle details */
  /* margin-left: -12px; */
  margin-right: 12px;
  /* justify-content: center; */
  display: flex;
}
.vehicle-details h4 {
  margin-right: 20px;

}


.picText p {
  font-size: 16px;
  color: #1adf1a; /* Set the font size for paragraphs */
}

.detail{
font-size: 15px;
color: #1adf1a;
font-weight: bold;
}
.detailAnswer{
font-size: 15px;
}
.detailButton{
margin-top: 120px;
align-content: center;
width: 180px;
display: inline-block;
outline: none;
cursor: pointer;
font-weight: 500;
border-radius: 3px;
padding: 6px 12px;
border: 0;
color: #3a4149;
background: #e7ebee;
line-height: 1.15;
font-size: 16px;
:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

}

.column3{

box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}


.historyRight{
  padding: 10px;
  margin: 20px;
  margin-top: 90px;
  width: 55%;
  background-color: #f8f8f8ac;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  margin-left: 10px;
  display: flex;
  display: block;
  height: 500px;
  gap: 1px;
}

.historyTables{
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  

}


.btnDown{
  padding-right: 10px;
  white-space: 10px;
 float: right;
 
}

.custom-delete-button {
  /* Add your custom styles here */
  background-color: #f93a3a;
  border-color: #f93a3a;
  font-size: 10px; /* Adjust the font size */
  padding: 10px 10px; /* Adjust the padding */
  /* Add any other styles you want */
}

.wide-button {
  width: 200px; /* Adjust the width as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
}

.button-container {
  text-align: center; /* Align buttons to the center */
  margin-top: 28px; /* Adjust the margin as needed to move the buttons down */
}

/* CSS to make each form input field the same size and widen the form */
.form-group {
  margin-bottom: 20px; /* Adjust spacing between form fields */
}

.form-control {
  width: 100%; /* Make input fields widen to fill the container */
}

.form-control-file {
  width: 100%; /* Make file input field widen to fill the container */
}

