.Report-container{
    
  margin-top: 80px;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  margin-left: 10px;
 
}


.report-wrapper{
  display: flex;
  flex-grow: 1;
  padding: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 1000px;
  align-items: stretch;
  height: 400px;
  /* background-color: #eab768;
  border-radius: 10px;
  border: 10px solid #f5cc8b; */
  gwa
}

.TableReportContainer{
  border-radius: 10px; 
  overflow: hidden;
  height: 500px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
overflow-y: scroll;

}

table.reportTable {
  /* border-radius: 10px; 
overflow: hidden; */
border-collapse: collapse;


}

 th.reportTable {
  width: 200px;
  height: 40px;
  font-size: 12px;
  text-align: left;
  /* word-break: break-all;
  text-overflow: ellipsis; */
  box-shadow: 0em 1px  0em  rgba(66, 66, 66, 0.4)
}

td.reportTable, td{
  width: 200px;
  height: 40px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
  /* word-break: break-all;
  text-overflow: ellipsis; */
  box-shadow: 0em 1px  0em  rgba( 0, 0, 0, 0.4 )
}


.reportTable thead{
background-color: rgba(57, 56, 56, 0.966);
color: white;
position: sticky;
top: 0;
font-size: 15px;
}

.reportTable td{
  width: 150px;
  font-size: 12px;
  white-space: normal; 

}
.reportTable thead th:first-child {
  padding-left: 10px;
  padding-top: 10px;
}
.reportTable tbody td:first-child {
 padding-left: 10px;
 padding-top: 10px;

}

.DataTable th {
  border: 2px solid #8f0a0a; /* Border color */
}


.actionBtn{
  font-size: 20px;
  margin-left: 10px;
}


.datatable-crud-demo .table-header {
display: flex;
align-items: center;
justify-content: space-between;
}


