
.sidebar-wrapper{
  position: flex;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #215cad;
  border-radius: 5px;
  padding-left: 3px;
  z-index:1;
  overflow-y:hidden;
	transition:all .5s;
	display:flex;
	align-items:center;
  margin-right: 1px;
  overflow-x: hidden;
}






#sidebarCollapse{
  position: absolute;
  top: .5rem;
  left:0.5rem;
  
}
@media (max-width: 700px) {
  #sidebarCollapse{
    height: 100%;;
  }
}

#sidebar{
  height: inherit;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  text-align: left;
}
#sidebar ul li a{
  margin-left: .5rem;
  color: #e9e9ea;
}
#sidebar .list-item{
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 16px;
  
}


@media (max-width: 796px) {
  #sidebar .list-itemLogout{
    margin-top: 120px;
  }
}
.list-item {
  max-width:200px ; 
}
#sidebar li a{
  text-decoration: none;
  padding-left: .5rem;
}
.icon-color{
  color: #738a9b;
}
.btn-custom{
  background-color: #c4b9b9;
  border-radius: 50%;
  color: #215cad;
  font-weight: 600;
  left: 0;
}
.sidebar-header{
  margin-top: 4rem;
  text-align: center;
  color: #e9e9ea;
}

.collapse{
display: none;
}
#sidebar.active .sidebar-header h3 {
display: none;
}
#sidebar ul li a {
text-align: left;
}
#sidebar.active ul li a {
display:show;
}

#sidebar.active ul li p {
  display:none;
  }
#sidebar.active ul li i {
display: block;
}

#sidebar ul li p {
  display: inline-block;
  color: white;
  font-family: 'Lato', sans-serif;

  }
#sidebar.active .dropdown-toggle::after {
top: auto;
bottom: 10px;
right: 50%;
-webkit-transform: translateX(50%);
-ms-transform: translateX(50%);
transform: translateX(50%);
}
.hidden{
display: none;
}

@media (max-width: 768px) {
#sidebar.active {
  width: 50px;
  text-align: center;
  margin: 0;
  height: 100%;
}
#sidebar {
  margin-left: 1rem;
}
#sidebarCollapse{
  right: .5rem;
}
#sidebar.active .sidebar-header h3 {
  display: none;
}
.dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
}

.iconSidebar{
  color: white;
  font-size: 25px;
  display:inline-block;
 
}

.iconBurger{
  color: white;
  font-size: 20px;
}

.buttonSidebar{
  background-color: #215cad;
  border-color: transparent;
  cursor: pointer;
}

@media (max-width: 796px) {
  .bars{
    display: none;
  }
}


.list-item a.link-with-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;

  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
  width: 100%; 
  height: 40px;
  color: #186cc5;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}

.list-item a.link-with-icon:hover {
  color: #1a78ddbf; 
  background-color: #2691eda4; 
}

.list-item a.link-with-icon:active {
  color: #1a78ddbf; 
  background-color: #2691eda4; 
 
} 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  position: relative;
}

main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  /* background: rgb(0, 7, 61); */
  background: #215cad;
  color: white;
  height: 100vh;
  overflow-y: auto;
  margin-right: 5px;
  overflow: hidden;
  
}
/* @media (max-width: 767px) {
  .sidebar {
   display: flex;
  }
} */
.footer {
  position: absolute;
  bottom: 0;
  padding: 15px ;
  font-size: 15px;
  margin-top: 150px;
}
.iconOut {
  width: 30px;
  font-size: 25px;
}
.side-menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed to control space between icon and text */
} 

.side-menu-footer.active .side-menu-footer {
  display: none;
} 
.footer a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
 
}
.logoutext{
  margin-left: 40px;
  margin-top: -35px;
}



.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px ;
  font-size: 20px;
  margin-left: 2px;
}
.logo {
  font-size: 20px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.link-text  {

  text-decoration: none;
}


.usr-image{
  border: 2px solid white;
  margin-left: 15px;
  }

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;

}
.link {
  display: flex;
  color: white;
  font-size: 25px;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;

  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  
}

.logout-link {
position: absolute;
 bottom: 0;
  
   
  /* margin-top: 150px;  */
}

.link:hover {
  border-right: 2px solid white;
  background: rgba(188, 195, 243, 0.501);
  color: white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 2px solid white;
  background: #9aa4ff;
}

.link_text {
  white-space: nowrap;
  margin-top: 10px;
  font-size: 15px;
}


.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

.side-menu-footer{
  display: hidden;
}